<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h5 class="modal-title">
      <% if @change.recurring_visit %>この回の変更を登録<% else %>変更を登録<% end %>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
  </div>
  <div class="modal-body">
    <%= render "form", change: @change %>
  </div>
<% end %>
